img.Img {
    width:100%;
}

body{
  background-color: rgba(210, 112, 85, 0.662);
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider {
    position: relative;
    padding: 0px 50px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    border: 0px;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 45px;
    height: 45px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider .slick-arrow.slick-next {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 12px;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid rgb(127, 29, 14);
}

.slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 0px;
    background-color: rgb(127, 29, 14);
    border-radius: 50%;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
     background-color: rgb(127, 29, 14);
}